@model List<BeeApp.Shared.ViewModels.ApiaryViewModel>

<h1>Apiaries</h1>

<p>
    <a asp-action="Create" class="btn btn-success">➕ Add Apiary</a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount of hives</th>
            <th>Last measurement</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td>@a.HiveCount</td>
                <td>@a.LastMeasurement?.ToString("g")</td>
                <td>
                    <a asp-controller="Hive" asp-action="Index" asp-route-apiaryId="@a.ApiaryId">Show hives</a>
                </td>
            </tr>
        }
    </tbody>
</table>

