@model IEnumerable<Hive>
@{
    var apiaryId = (int)ViewData["ApiaryId"];
}


<h1>Hives</h1>
<a href="/Hive/Create?apiaryId=@ViewData["ApiaryId"]">Add Hive</a>
<table>
    <thead>
        <tr>
            <th>Hive Number</th>
            <th>Name</th>
            @if (apiaryId == 0)
            {
                <th>Apiary Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var hive in Model)
        {
            <tr>
                <td>@hive.HiveNumber</td>
                <td>@hive.Name</td>
                @if (apiaryId == 0)
                {
                    <td>@hive.Apiary.Name</td>
                }
            </tr>
        }
    </tbody>
</table>

