@{
    var timeUnit = ViewBag.TimeUnit ?? "minute"; // Defaultní hodnota 'minute'
    var minimum = ViewBag.Minimum ?? 0; // Defaultní hodnota 'minute'
    var maximum = ViewBag.Maximum ?? 100; // Defaultní hodnota 'minute'

    var chartData = ViewBag.ChartData ?? "{}";
}

<div>
   
</div>

<h1>Plot test</h1>
<!-- Debugging: Display raw JSON -->
<pre>@chartData</pre>

<div style="width: 800px; height: 600px;">
<canvas id="timeSeriesChart" width="400" height="200"></canvas>
</div>

<!-- Místo pro graf -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
<script>
    // Parse the raw JSON data from the server
    const rawData = @Html.Raw(chartData);

    // Transform raw JSON into datasets for Chart.js
    const datasets = rawData.datasets.map((dataSet) => {
        return {
            label: dataSet.label, // Použij label z dat
            data: dataSet.data.map(d => ({
                x: d.koko,
                y: d.value
            })),
            fill: false,
            borderColor: dataSet.borderColor, // Použij barvu čáry
            tension: 0.1
        };
    });

    const timeUnit = '@timeUnit'; // ViewBag.TimeUnit value
    const minimum = parseFloat('@minimum'); // ViewBag.TimeUnit value
    const maximum = parseFloat('@maximum'); // ViewBag.TimeUnit value


    const config = {
        type: 'line',
        data: {
            datasets: datasets
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: timeUnit
                    }
                },
                y: {
                    beginAtZero: 'true',
                    min: minimum,
                    max: maximum
                }
            }
        }
    };

    const ctx = document.getElementById('timeSeriesChart').getContext('2d');
    new Chart(ctx, config);
</script>
